body {
    margin: 0;
    padding: 0px
}

main {
    min-height: 500px;
    display: block
}

pre {
    overflow: auto;
}

.demo {
    padding: 20px;
}

.image-wrapper {
    max-width: 600px;
    min-width: 200px;
}

img {
    max-width: 100%;
}

label {
    display: inline-block;
    width: 60px;
    margin-top: 10px;
}

#update {
    margin: 10px 0 0 60px;
    padding: 10px 20px;
}

#cropped-original, #cropped-resized {
    padding: 20px;
    border: 4px solid #ddd;
    min-height: 60px;
    margin-top: 20px;
}

#cropped-original img, #cropped-resized img {
    margin: 5px;
}
